<div class='container'>
    <div class='row'>
        <div class='col-md-6 col-md-offset-3'>
            <form>
                <input class='form-control' type="text" placeholder="Username" ng-model="username"><br/>
                <input class='form-control' type="text" placeholder="Password" ng-model="password"><br/>
                <input class='form-control' type="text" placeholder="Firstname" ng-model="firstname"><br/>
                <input class='form-control' type="text" placeholder="lastname" ng-model="lastname"><br/>
                <input class='form-control' type="text" placeholder="Email" ng-model="email"><br/>
                <input class='form-control' type="text" placeholder="Phone" ng-model="phone"><br/>
                <input class='form-control' type="text" placeholder="Location" ng-model="location"><br/>
                <button class='btn btn-primary' ng-click='createUser()'>Save</button>
                <a href="#/">Cancel</a>
            </form>
        </div>
    </div>
</div>
